<div class="container">

   <!--  <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Jeu</label>
        <input type="text" class="form-control" [(ngModel)]="titre" name="titre" class="form-control">
        <button type="submit" (click)="rechercherProds()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
        </form> -->
        
        <!-- 
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Jeu en tapant</label>
            <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
            </div>
            </form> -->

            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2 mt-2 ">
                <label>Nom Jeu en tapant</label>
                <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
                </div>
                </form>


    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>taille</th> <th>Date Création</th><th>Entreprise</th> </tr>
    <tbody *ngFor="let jeu of jeux| filter:searchTerm ">
    <tr >
    <td>{{jeu.idJeu}}</td>
    <td>{{jeu.titre}}</td>
    <td>{{jeu.taille}}</td>
    <td>{{jeu.dateCreation | date:'dd/MM/yyyy'}}</td>
    <td>{{jeu.entreprise.nomEnt}}</td>
  <!--  <td><a class="btn btn-danger" (click)="supprimerJeu(jeu)">Supprimer</a></td>
    <td><a class="btn btn-success" [routerLink]="['/updateJeu',jeu.idJeu]">Modifier</a></td>
-->

    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>