<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-entreprise [entreprise]="updatedEnt"
    (entrepriseUpdated)= "entrepriseUpdated($event)" 
    [ajout]="ajout">

    </app-update-entreprise>
</div>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Nom Entreprise</th> <th>Nombre d'employes</th></tr>
    </thead>
    <tbody *ngFor="let ent of entreprises">
    <tr>
    <td>{{ent.idEnt}}</td>
    <td>{{ent.nomEnt}}</td>
    <td>{{ent.nombreEmployes}}</td>
    <td><a class="btn btn-success" (click)="updateEnt(ent)">Editer</a></td>

    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>